@font-face {
  font-family: 'Novecento';
  src: local('Novecento'), url(./fonts/novecento.otf) format('truetype');
}

@font-face {
  font-family: 'Varela Round';
  src: local('Varela Round'), url(./fonts/VarelaRound.ttf) format('truetype');
}

body{
  margin: 0;
}

.header{
  padding: 10px 20px 4px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 200px;
}

button{
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: 'Varela Round';
  cursor: pointer;
}

.red{
  background: #832124;
}

.transparent{
  background: transparent;
  border: 2px solid white;
}

 button:active{
  transform: scale(.95);
}

.description{
  height: 600px;
  background-image: url('./images/arch.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.description-title{
  font-size: 40px;
  width: 60%;
  font-family: 'Novecento';
}

.description-text{
  margin: 0;
  font-family: 'Varela Round';
  font-size: 18px;
  width: 50%;
}
