@font-face {
  font-family: 'Novecento';
  src: local('Novecento'), url(./fonts/novecento.otf) format('truetype');
}

@font-face {
  font-family: 'Varela Round';
  src: local('Varela Round'), url(./fonts/VarelaRound.ttf) format('truetype');
}

body{
  margin: 0;
}

.header{
  padding: 10px 20px 4px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 200px;
}

button{
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: 'Varela Round';
  cursor: pointer;
}

.red{
  background: #832124;
}

.transparent{
  background: transparent;
  border: 2px solid white;
}

 button:active{
  transform: scale(.95);
}

.text{
  margin: 0;
  font-family: 'Varela Round';
  font-size: 16px;
}

.section-title{
  margin: 0;
  font-family: 'Novecento';
  font-size: 22px;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.description{
  height: 600px;
  background-image: url('./images/arch.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.description-title{
  font-size: 40px;
  width: 60%;
  font-family: 'Novecento';
}

.description-text{
  width: 50%;
}

.transport{
  color: black;
  text-align: center;
  padding: 35px 0;
}

.transport p{
  margin-top: 30px
}

.transport-title{
  color: #832124;
  margin-bottom: 30px;
}

.transport-cards{
  width: 60%;
}

.t-card{
  width: 280px;
}

.t-card .text{
  margin: 20px 0;
}

.icon{
  width: 150px;
  height: 150px;
  background-color: lightgray;
}

.customs{
  color: white;
  text-align: left;
  padding: 35px 50px;
  background-color: #832124;
  justify-content: flex-start;
  align-items: stretch;
}

.customs-box{
  margin: 0 auto;
}

.customs-title{
  margin-bottom: 20px;
}

.customs-text{
  width: 580px;
}

.c-cards{
  padding: 25px 0 0 0;
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto);
  grid-gap: 0px 50px;
}

.c-card{
  width: 470px;
  display: grid;
  grid-template: auto auto / 70px 400px;
  grid-gap: 0px 10px;
  padding: 10px 0;
}

.c-card:nth-child(-n+4){
  border-bottom: 2px solid #6E0306;
}

.icon-small{
  width: 70px;
  height: 70px;
  background-color: lightgray;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.c-card-title{
  font-family: 'Novecento';
  margin: 0;
}

.c-card-text{
  font-size: 12px;
}
